<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4 text-center">Auth0 Angular</h2>
            <p>&nbsp;</p>
            
            <div *ngIf="auth.isAuthenticated$ | async; else loggedOut" class="text-center">
                <button type="button" class="btn btn-info" (click)="auth.logout()">Log out</button>
            </div>
        
            <ng-template #loggedOut>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" (click)="auth.loginWithRedirect()">Log in</button>
                </div>
            </ng-template>
        </div>
    </div>
</header>

<div *ngIf="!(auth.user$ | async)">
    <p>Please login...</p>
</div>

<div *ngIf="auth.user$ | async as user">
    <h2>Welcome <span class="text-uppercase">{{ user.nickname }}</span> !!</h2>
    <div class="mb-3 text-center">
        <img [src]="user.picture" alt="User's profile picture" class="rounded-circle img-fluid profile-picture" />
    </div>
    <p></p>
    <p class="text-center">{{ user.email }}</p>
    <p>{{ user.logins_count }}</p>
    
    <pre>{{ user | json}}</pre>
</div>